
{% block content %}
<h2>Kartu Keluarga: {{ kk.no_kk }}</h2>
<p><strong>Alamat:</strong> {{ kk.alamat }}</p>
<p><strong>Dusun:</strong> {{ kk.dusun }} (RT {{ kk.no_rt }}/RW {{ kk.no_rw }})</p>

<h3>Anggota Keluarga</h3>
<table class="table table-bordered">
  <tr>
    <th>NIK</th>
    <th>Nama</th>
    <th>Jenis Kelamin</th>
    <th>Hubungan</th>
    <th>Aksi</th>
  </tr>
  {% for a in anggota %}
  <tr>
    <td>{{ a.nik }}</td>
    <td>{{ a.nama_lgkp }}</td>
    <td>{{ a.get_jenis_klmin_display }}</td>
    <td>{{ a.stat_hbkel_1 }}</td>
    <td><a href="{% url 'penduduk_detail' a.pk %}">Detail</a></td>
  </tr>
  {% empty %}
  <tr><td colspan="5">Belum ada anggota.</td></tr>
  {% endfor %}
</table>
{% endblock %}
